#maincontainer {
	width: 300px;
	height: 420px;
	background-color: #fff;
}
#contentcontainer {
    width: 290px;
    height: 380px;
    margin-top: 8px;
    background-color: #eee;
    border-bottom-right-radius: .5em;
    border-bottom-left-radius: .5em;
    border-top-right-radius: .5em;
    padding: 5px;
}

/*#tabholder {
	height: 25px;
	float:left;
	display:inline;
}*/

/*.tab {
	border-top-right-radius: .5em;
	border-top-left-radius: .5em;
	background-color: #d8596e;
	float:left;
	display:inline;
	width:130px;
}*/

#people {
	float:left;
	padding: 0px;
}

#thumbholder {
	background-color: #fff;
	border-radius: .25em;
    width: 100%;
    box-sizing: border-box;
    height: 260px;
    padding: 10px;
    overflow: scroll;

}

.thumb {
	width: 125px;
	height: 125px;
	border-style: solid;
    border-width: 1px;
    border-color: #eee;
    float:left;
	display:inline;
	margin: .25em;
}

.roundedwhitebox {
	background-color: #fff;
	border-radius: .25em;
    width: 100%;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    overflow:auto;
}

.roundedwhitebox.grey { background-color: #ccc; }

img.settings {
	width: 25px;
	margin-left:7.5px;
	margin-top:7.5px;
}
img.settings.active {
    color: #fff;
}

.buttonmessages {
	width: 25px;
	margin-left:.5em;
	margin-top:.5em;
}

.button {
	background: #d8596e;
	border-radius: .25em;
	height: 30px;
	width: 200px;
    margin:0 auto;
    color: #fff;
    padding-top:10px;
    margin-top:10px;
    text-align: center;
}
.buttonSecondary {
    background: #fff;
    border-radius: .25em;
    border-style: solid;
    border-width: 2px;
    border-color: #d8596e;
    height: 30px;
    width: 200px;
    margin:0 auto;
    color: #d8596e;
    padding-top:10px;
}
.button:hover, .tab:hover {
	background: #ce3052;
}

.button:active, .tab:active {
    background-color: white;
}


p {
	font-size: 1em;
    color: #666;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    margin-top: 0px;
    margin-left: 10px;
}


h1 {
	font-size: 1.5em;
    color: #fff;
    font-family: 'Flamenco', cursive;
    margin-top: 0px;
}

h2 {
	font-size: 1.5em;
    color: #d8596e;
    font-family: 'Flamenco', cursive;
    margin-top: 10px;
    margin-left: 10px;
}

/*ul {
    list-style: none;
    padding: 0;
    margin: 0;

}*/
div.tab {
    border-top-right-radius: .5em;
   border-top-left-radius: .5em;
   background-color: #ccc;
   display: inline;
   float: left;
    height: 30px;
    width: 125px;
    margin:0 auto;
    color: #fff;
    padding-top:10px;
}

/*#mainView {
    border: 1px solid black;
   clear: both;
   padding: 0 1em;
    width:400px;
}*/

div.tab.active {
    background-color: #d8596e;
    color: #fff;
}