#maincontainer {
	width: 300px;
	height: 420px;
	border-bottom-right-radius: .25em;
	border-bottom-left-radius: .25em;
	background-color: #eee;
}

#tabholder {
	height: 25px;
	float:left;
	display:inline;
}

.tab {
	border-top-right-radius: .25em;
	border-top-left-radius: .25em;
	background-color: #d8596e;
	float:left;
	display:inline;
	width:130px;
}

#people {
	float:left;
	padding: 0px;
}

#thumbholder {
	background-color: #fff;
	border-radius: .25em;
    margin: 0.5em;
    width: auto;
    height: 260px;
    padding: 10px;
}

.thumb {
	width: 120px;
	height: 120px;
	border-style: solid;
    border-width: 1px;
    border-color: #eee;
    float:left;
	display:inline;
	margin: .25em;
}

.roundedwhitebox {
	background-color: #fff;
	border-radius: .25em;
    margin: 0.5em;
    width: auto;
    height: auto;
    padding: 10px;
    overflow:auto;
}

.settings {
	width: 25px;
	margin-left:.5em;
	margin-top:.5em;
}

.buttonmessages {
	width: 25px;
	margin-left:.5em;
	margin-top:.5em;
}




.centralised {
	text-align: center;
}
.button {
	background: #d8596e;
	border-radius: .25em;
	height: 30px;
	width: 200px;
    margin:0 auto;
    color: #fff:
}
.button:hover, .tab:hover {
	background: #ce3052;
}

.button:active, .tab:active {
    background-color: white;
}


p {
	font-size: 1em;
    color: #666;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}


h1 {
	font-size: 1.5em;
    color: #fff;
    font-family: 'Flamenco', cursive;
}

h2 {
	font-size: 1.5em;
    color: #d8596e;
    font-family: 'Flamenco', cursive;
}