<!DOCTYPE html>
<html ng-app="PlusOneApp" ng-csp>
  <head>
    <script src="../lib/angular.min.js"></script>
    <script src="../lib/angular-mocks.js"></script>
    <script src="../lib/angular-animate.min.js"></script>
    <script src="../lib/angular-route.min.js"></script>
    <script src="app.js"></script>
    <script src="router.js"></script>
    <script src="service/mock/ApiService.js"></script>
    <script src="service/ApiService.js"></script>
    <script src="service/NotificationService.js"></script>
    <script src="controller/ProfileController.js"></script>
    <script src="controller/ProfilesController.js"></script>
    <script src="controller/SettingsController.js"></script>
    <script src="controller/TabController.js"></script>
    <script src="controller/InterestController.js"></script>
    <script src="directive/profile/profile.js"></script>
    <link rel="stylesheet" type="text/css" href="../lib/angular-csp.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link href='http://fonts.googleapis.com/css?family=Flamenco' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div id="maincontainer" ng-controller="TabController">
      <div id="tabholder" ng-controller="TabsCtrl">
        <div id="tab-people" class="tab" ng-click="setTab('profiles')"><h1>People</h1></div>
        <div id="tab-filter" class="tab" ng-click="setTab('filter')"><h1>Filter</h1></div>
      </div>
      <img class="settings" src="images/ButtonSettings.svg" ng-click="setTab('settings')">
      <div ng-view></div>
    </div>
  </body>
</html>