<div id="filter">
  <div id="orientation">
    <h1>Orientation</h1>
    <div id="testholder">
      <div style="position:absolute; margin-left:130px;">
        <form action="">
          <input type="checkbox" name="vehicle" value="s_men" style="float: left; margin-top: 0px;"><p style="
      margin-left: 30px;
      margin-top: 0px;
      margin-bottom: 0px;
  ">Straight Men</p>
          <input type="checkbox" name="vehicle" value="g_men" style="float: left; margin-top: 0px;"><p style="
      margin-left: 30px;
      margin-top: 0px;
      margin-bottom: 0px;
  ">Gay Men</p>
        </form>
      </div>
      <div>
        <form action="">
          <input type="checkbox" name="vehicle" value="s_women" style="float: left; margin-top: 0px;"><p style="
      margin-left: 30px;
      margin-top: 0px;
      margin-bottom: 0px;
  ">Straight Women</p>
          <input type="checkbox" name="vehicle" value="g_men" style="float: left; margin-top: 0px;"><p style="
      margin-left: 30px;
      margin-top: 0px;
      margin-bottom: 0px;
  ">Gay Women</p>
        </form>
      </div>
    </div>
    <div id="age">
      <h1>Age</h1>
      <div id="testholder">
        <div data-role="main" class="ui-content">
          <form method="post" action="demoform.asp">
            <div data-role="rangeslider">
              <input type="range" name="age-min" id="price-min" value="20" min="18" max="100">
              <input type="range" name="price-max" id="price-max" value="60" min="18" max="100">
            </div>
          </form>
        </div>
      </div>
    </div>
    <div id="datingboolean">
      <h1>Dating</h1>
      <div id="testholder">
        <form action="">
          <input type="checkbox" name="vehicle" value="datingboolean" style="float: left; margin-top: 0px;"><p style="
      margin-left: 30px;
      margin-top: 0px;
      margin-bottom: 0px;
  ">I'm not interested in dating</p>
        </form>
      </div>
    </div>
    <div class="centralised">
      <div class="button"><h1>Refine</h1></div>
    </div>
  </div>
</div>