<div id="message">
  <a href="people.html">
    <div class="button_back"></div>
  </a>
  <div class="roundedwhitebox">
    <div class="thumb">
      <span profile></span>
    </div>
    <div class="profiledetails">
      <p>{{profile.name}}<br>{{profile.age}} yrs old</p>
      <p>{{profile.description}}</p>
    </div>
  </div>
	<p>Send a message to {{profile.name}}</p>
	<form name="message">
		<textarea rows="4" cols="50" placeholder="Insert text here..."></textarea>
	</form>
	<div class="button" ng-click="cancel()">
		<h1>Cancel</h1>
	</div>
	<div class="button" ng-click="send()">
		<h1>Send</h1>
	</div>
</div>