<div id="profile">
    <div class="roundedwhitebox">
      <div class="thumb">
        <img src="images/profiles/profile01.jpg" style="max-width:100%;max-height:100%;position:relative" />
      </div>
      <div class="profiledetails">
        <p>{{profile.name}}<br>{{profile.age}} yrs old</p>
        <p>{{profile.description}}</p>
      </div>

    </div>
    <div class="roundedwhitebox">This is the bit where the user says something specific about the event and why they want to go. It should have a character limit although not sure just at the moment what that character limit would be. Enough for someone to explain a few details about why they want to go basically. 
    </div>
    <div class="button"><h1>I'll go with you</h1></div>

</div>