<div id="settings">
	<a href="settings.html">
		<div class="button_back"></div>
	</a>
	<div class="thumb">
		<span profile></span>
	</div>
	<div class="profiledetails">
		<h3>{{profile.name}}</h3></br><p>{{profile.age}} yrs old</p>
		<form name="message">
			<textarea rows="8" cols="41">{{profile.description}}</textarea>
		</form>
	</div>
	<div class="button" ng-click="addMe()" style="margin-top:25px; text-align: center;">
		<h1>Save</h1>
	</div>
	<a href="" style="text-align: center;">Close Account</a></br>
	<a href="" style="text-align: center;">Log Out</a>
</div>