<div id="my_profile">
    <div class="roundedwhitebox grey">
      <div class="thumb">
        <img src="images/profiles/profile01.jpg" style="max-width:100%;max-height:100%;position:relative" />
      </div>
      <div class="profiledetails">
        <p>{{profile.name}}<br>{{profile.age}} yrs old</p>
        <a href="photo_editor.html">
          <div class="button"><h1>Edit photos</h1></div>
        </a>
        <input type="text" name="interests" value="This is where you put in your description about yourself">
      </div>
    </div>
    
    <div class="button"><h1>Cancel</h1></div>
    <div class="button"><h1>Save changes</h1></div>

</div>